<nav class="navbar navbar-default" style="background-color: #e3f2fd">
    <a class="navbar-brand"  routerLink="/contact-form">Contact-Form</a>
    <a class="navbar-brand" routerLink="/register-form">Register-Form</a>
    <a class="navbar-brand" routerLink="/shipping-form">Shipping-Form</a>
    <a class="navbar-brand" routerLink="/login-form">Login-Form</a>
    <a class="navbar-brand" routerLink="/book-table">Book-Table</a>
    <a class="navbar-brand" routerLink="/street-Address-Form">Street-Address-Form</a>
    <a class="navbar-brand" routerLink="/profile-form">Profile-Form</a>
    <a class="navbar-brand" routerLink="/employee-table">Employee-Table</a>
</nav>
