<div class="container float-left"><div>
    <a routerLink="/tasks/contact-form">Contact-Form</a>
</div>
<div>
    <a routerLink="/tasks/register-form">Register-Form</a>
</div>
<div>
    <a routerLink="/tasks/shipping-form">Shipping-Form</a>
</div>
<div>
    <a routerLink="/tasks/login-form">Login-Form</a>
</div>
<div>
    <a routerLink="/tasks/book-table">Book-Table</a>
</div>
<div>
    <a routerLink="/tasks/street-address-form">Street-Address-Form</a>
</div>
<div>
    <a routerLink="/tasks/profile-form">Profile-Form</a>
</div>
<div>
    <a routerLink="/tasks/employee-table">Employee-Table</a>
</div>
</div>
