<nav class="navbar navbar-default" *ngIf="isLoggedIn$ | async as isLoggedIn" style="background-color: #e3f2fd">
    <a class="navbar-brand" routerLink="/tasks/contact-form">Contact-Form</a>
    <a class="navbar-brand" routerLink="/tasks/register-form">Register-Form</a>
    <a class="navbar-brand" routerLink="/tasks/shipping-form">Shipping-Form</a>
    <a class="navbar-brand" routerLink="/tasks/login-form">Login-Form</a>
    <a class="navbar-brand" routerLink="/tasks/book-table">Book-Table</a>
    <a class="navbar-brand" routerLink="/tasks/street-address-form">Street-Address-Form</a>
    <a class="navbar-brand" routerLink="/tasks/profile-form">Profile-Form</a>
    <a class="navbar-brand" routerLink="/tasks/employee-table">Employee-Table</a>
    <button class="btn btn-primary" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true">Logout</i></button>
</nav>