<div>
   <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
      <div class="row">
         <div class="col-6">
   <label for="firstname">Firstname*</label>
   <input type="text" id="firstname" formControlName="firstname" class="form-control">
</div>
<div class="col-6">
   <label for="lastname">Lastname</label>
   <input type="text" id="lastname" formControlName="lastname" class="form-control">
</div>
</div>
<div class="row">
   <div class="col-6">
   <label for="email">Email*</label>
   <input type="email" id="email" formControlName="email" class="form-control">
</div>
<div class="col-6">

   <label for="phone">Phone</label>
   <input type="number" id="Phone" formControlName="phone" class="form-control">
</div>
</div>

</form>
</div>