<div class="container">
   <h1 class="mt-2 mb-5">Contact Information</h1>
   <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div formGroupName="contact_information">
         <div class="row">
            <div class="col-6">
               <label for="firstname">Firstname*</label>
               <input type="text" id="firstname" formControlName="first_name" class="form-control">
            </div>
            <div class="col-6">
               <label for="lastname">Lastname</label>
               <input type="text" id="lastname" formControlName="last_name" class="form-control">
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <label for="email">Email*</label>
               <input type="email" id="email" formControlName="email" class="form-control">
            </div>
            <div class="col-6">
               <label for="phone">Phone</label>
               <input type="text" id="Phone" formControlName="phone" class="form-control" [textMask]="{mask: mask}">
            </div>
         </div>
      </div>
      <h1>Billing Address</h1>
      <app-address-form [formGroup]="billingAddressForm"></app-address-form>
      <h1>Shipping Address</h1>
      <label>
         <input type="checkbox" (change)="onCheckboxChange($event)" />
         same as billing Address
      </label>
      <app-address-form *ngIf="shipping" [formGroup]="shippingAddressForm"></app-address-form>
      <div class="col-12">
         <button type="submit" class="btn btn-primary">Submit</button>
      </div>
   </form>
</div>