<div class="container p-5">
  <div [formGroup]="formGroup" class="needs-validation">
    <div class="row">
      <div class="col-6">
        <label for="name" class="form-label">Name<small class="text-danger">*</small>
        </label>
        <input type="text" formControlName="name" class="form-control" id="name" appValidation required>
        <app-validation name="Name" [submitted]="submitted" [control]="formGroup.get('name')"></app-validation>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="address1" class="form-label">Address 1<small class="text-danger">*</small></label>
        <input type="text" formControlName="address_1" class="form-control" id="address1" appValidation required>
        <app-validation name="Address 1" [submitted]="submitted" [control]="formGroup.get('address_1')">
        </app-validation>
      </div>
      <div class="col-6">
        <label for="Address2" class="form-label">Address 2 </label>
        <input type="text" formControlName="address_2" class="form-control" id="Address2">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="City" class="form-label">City <small class="text-danger">*</small></label>
        <input type="text" formControlName="city" class="form-control" id="City" appValidation>
        <app-validation name="City" [submitted]="submitted" [control]="formGroup.get('city')"></app-validation>
      </div>
      <div class="col-6">
        <label for="State" class="form-label">State<small class="text-danger">*</small>
        </label>
        <select class="form-control" formControlName="state" *ngIf="formGroup.get('country').value === 'USA'">
          <option value="">--Select a State--</option>
          <option *ngFor="let state of stateList; let j = index" [value]="state.code">{{state.name}}</option>
        </select>
        <input id="State" type="text" class="form-control" formControlName="state" id="inputCity"
          *ngIf="formGroup.get('country').value !== 'USA'" appValidation>
        <app-validation name="State" [submitted]="submitted" [control]="formGroup.get('state')"></app-validation>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="Zip" class="form-label">Zip<small class="text-danger">*</small></label>
        <input type="text" formControlName="zip" class="form-control" id="Zip" appValidation>
        <app-validation name="Zip" [submitted]="submitted" [control]="formGroup.get('zip')"></app-validation>
      </div>
      <div class="col-6">
        <label for="country" class="form-label">Country<small class="text-danger">*</small></label>
        <select class="form-control" (change)="onChangeCountry($event)" formControlName="country">
          <option value="">--Select Country--</option>
          <option *ngFor="let country of countryList; let i = index" [value]="country.code">{{country.name}}</option>
        </select>
        <app-validation name="Country" [submitted]="submitted" [control]="formGroup.get('country')"></app-validation>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="phone" class="form-label">Phone</label>
        <input type="text" formControlName="phone" class="form-control" id="phone" [textMask]="{mask: mask}">
      </div>
    </div>
  </div>
</div>