<div class="container p-5">
  <div [formGroup]="formGroup">
    <div class="row">
      <div class="col-6">
        <label for="name" class="form-label">Name<small class="text-danger">*</small>
        </label>
        <input type="text" formControlName="name" class="form-control is-invalid" id="name"
          [ngClass]="{ 'is-invalid': submitted &&  formGroup.get('name').errors ||  formGroup.get('name').touched || formGroup.get('name').dirty}"
          required>
        <div
          *ngIf="formGroup.get( 'name').invalid && (formGroup.get('name').dirty || formGroup.get('name').touched || submitted )"
          class="invalid-feedback">
          please enter your name
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="address1" class="form-label">Address 1<small class="text-danger">*</small></label>
        <input type="text" formControlName="address_1" class="form-control" id="address1"
          [ngClass]="{ 'is-invalid': submitted &&  formGroup.get('address_1').errors ||  formGroup.get('address_1').touched || formGroup.get('address_1').dirty}"
          required>
        <div
          *ngIf="formGroup.get( 'address_1').invalid && (formGroup.get('address_1').dirty || formGroup.get( 'address_1').touched || submitted )"
          class="invalid-feedback">
          please enter your address
        </div>
      </div>
      <div class="col-6">
        <label for="Address2" class="form-label">Address 2 </label>
        <input type="text" formControlName="address_2" class="form-control" id="Address2">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="City" class="form-label">City <small class="text-danger">*</small></label>
        <input type="text" formControlName="city" class="form-control" id="City"
          [ngClass]="{ 'is-invalid': submitted &&  formGroup.get('city').errors ||  formGroup.get('city').touched || formGroup.get('city').dirty}">
        <div
          *ngIf="formGroup.get( 'city').invalid && (formGroup.get('city').dirty || formGroup.get( 'city').touched || submitted )"
          class="invalid-feedback">
          please enter your city
        </div>
      </div>
      <div class="col-6">
        <label for="State" class="form-label">State<small class="text-danger">*</small>
        </label>
        <select class="form-control" formControlName="state" *ngIf="formGroup.get('country').value === 'USA'">
          <option>--Select a State--</option>
          <option *ngFor="let state of stateList; let j = index" [value]="state.code">{{state.name}}</option>
        </select>
        <input id="State" type="text" class="form-control" formControlName="state" id="inputCity"
          *ngIf="formGroup.get('country').value !== 'USA'"
          [ngClass]="{ 'is-invalid': submitted &&  formGroup.get('state').errors ||  formGroup.get('state').touched || formGroup.get('state').dirty}">
        <div
          *ngIf="formGroup.get( 'state').invalid && (formGroup.get('state').dirty || formGroup.get( 'state').touched || submitted )"
          class="invalid-feedback">
          please enter your state
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="Zip" class="form-label">Zip<small class="text-danger">*</small></label>
        <input type="text" formControlName="zip" class="form-control" id="Zip"
          [ngClass]="{ 'is-invalid': submitted &&  formGroup.get('address_1').errors ||  formGroup.get('address_1').touched || formGroup.get('address_1').dirty}">
        <div
          *ngIf="formGroup.get( 'zip').invalid && (formGroup.get('zip').dirty || formGroup.get( 'zip').touched || submitted )  "
          class="invalid-feedback">
          please enter your zip
        </div>
      </div>
      <div class="col-6">
        <label for="country" class="form-label">Country<small class="text-danger">*</small></label>
        <select class="form-control" (change)="onChangeCountry($event)" formControlName="country"
          [ngClass]="{ 'is-invalid': submitted && formGroup.get('country').errors ||  formGroup.get('country').touched || formGroup.get('country').dirty}">
          <option selected>--Select Country--</option>
          <option *ngFor="let country of countryList; let i = index" [value]="country.code">{{country.name}}</option>
        </select>
        <div
          *ngIf="formGroup.get( 'country').invalid && (formGroup.get('country').dirty || formGroup.get( 'country').touched || submitted )"
          class="invalid-feedback">
          please enter your country
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="phone" class="form-label">Phone</label>
        <input type="text" formControlName="phone" class="form-control" id="phone" [textMask]="{mask: mask}">
      </div>
    </div>
  </div>
</div>