<div class="container">
  <form [formGroup]="contactForm">
    <button (click)="addContacts()" class="btn btn-primary float-right">+ Add contact</button>
    <i class="fas fa-trash-alt"></i>
    <div formArrayName="contacts">
      <ngb-tabset [destroyOnHide]="false">
        <ngb-tab *ngFor="let t of contacts.controls; let i = index" [formGroupName]='i'>
          <ng-template ngbTabTitle>
            <i class="fa fa-trash" (click)="deleteContact(i)"></i>
            contacts{{i+1}}
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-12">
                <h2>Contacts {{i + 1}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="{{'firstName'+i}}">First Name:* </label>
                <input class="form-control" formControlName='firstName' id="{{'firstName'+i}}" type="text"
                  [appValidation]="submitted" />
                <app-validation name="First Name" [submitted]="submitted" [control]="t.get('firstName')">
                </app-validation>
              </div>
              <div class="col-6">
                <label for="{{'lastName'+i}}">Last Name: </label>
                <input class="form-control" formControlName='lastName' id="{{'lastName'+i}}" type="text" />
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="{{'email'+i}}">Email:* </label>
                <input class="form-control" formControlName='email' id="{{'email'+i}}" type="text"
                  [appValidation]="submitted" />
                <app-validation name="Email" [submitted]="submitted" [control]="t.get('email')"></app-validation>
              </div>
              <div class="col-6">
                <label for="{{'phone'+i}}">Phone: </label>
                <input class="form-control" formControlName='phone' id="{{'phone'+i}}" type="text"
                  [textMask]="{mask: mask}" ng-model="phone" />
                <span *ngIf="!t.get('phone').valid && t.get('phone').touched">enter phone number</span>
              </div>
            </div>
            <div>
              <p>
                <button type="submit" class="btn btn-primary" (click)="onSubmit()"><i
                    class="fas fa-trash-alt"></i>Submit</button>
              </p>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </form>
</div>