<div class="container">
    <div class=row>
        <div>
            <label>Employee Name:</label>
        </div>
        <div class="col">
            <label>{{employee?.employee_name}}</label>
        </div>
        <div class="row">
            <div>
                <label>Employee Experiance:</label>
            </div>
            <div class="col">
                <label>{{employee?.employee_experiance}}</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <label>Employee Designation:</label>
        </div>
        <div class="col">
            <label>{{employee?.employee_designation}}</label>
        </div>
        <div class="row">
            <div>
                <label>Status:</label>
            </div>
            <div class="col">
                <label>{{employee?.status}}</label>
            </div>
        </div>
    </div>