<div class="container">
    <div class=row>
        <label>Employee Name:</label>
        <label>{{employee.employee_name}}</label>
    </div>
    <div class="row">
        <label>Employee Experiance:</label>
        <label>{{employee.employee_experiance}}</label>
    </div>
    <div class="row">
        <label>Employee Designation:</label>
        <label>{{employee.employee_designation}}</label>
    </div>
    <div class="row">
        <label>Status:</label>
        <label>{{employee.status}}</label>
    </div>
</div>